

h2{
    align-self: center;    
}

.remove-fav {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: #626262;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.remove-fav:hover {
    background-color: #b82121;
    color: white;
}

.favorite-card {   
    padding: 40px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(20px); /* Blurred background effect */
    width: 600px;
    max-width: 600px;
    margin-top: 20px;
    background-image: linear-gradient(45deg, #4f97cf 65%, #dfe0e3ed, #ffff00);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.favorite-item .favorite-card p {
    margin-right: 10px;
    margin-bottom: 15px;
}

.favorite-item .favorite-card h2 {
    margin-bottom: 35px;
    align-self: center;
    font-size: 35px;
}

.favorite-item .favorite-card h3 {

    font-size: 25px;
    margin-bottom: 20px;
}

.fav-list-button {
    display: flex;
    place-self: flex-start;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px; 
    padding: 10px;
    cursor: pointer;
    position: relative;
    bottom: 50px;
    right: 50px;
}



.remove-favs {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #4f97cf;
    color: rgb(253, 253, 253);
    cursor: pointer;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
}

.remove-favs:hover {
    background-color: #b82121;
    color: white;
}

.favorite-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; /* Permette alle card di andare a capo */
    justify-content: center; /* Centra le card orizzontalmente */
    gap: 50px; /* Aggiungi uno spazio tra le card */
    margin-bottom: 20px;
}

.favorite-item {
    margin-bottom: 20px;
}

.home-link{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #4f97cf;
    color: rgb(253, 253, 253);
    cursor: pointer;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 15px;
}

.no-favs {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #4f97cf;
    color: rgb(253, 253, 253);
    cursor: pointer;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

