h1 {
    margin-bottom: 60px;
}

.remove-fav {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #84837e;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.remove-fav:hover {
    background-color: #b82121;
}

.favorite-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 370px;
    text-align: left;
    width: 360px;
    margin: 20px; /* Aggiungi un margine per separare le card */
}

.remove-favs {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
}

.remove-favs:hover {
    background-color: #b82121;
    color: white;
}

.favorite-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; /* Permette alle card di andare a capo */
    justify-content: center; /* Centra le card orizzontalmente */
    gap: 20px; /* Aggiungi uno spazio tra le card */
}

.favorite-item {
    margin-bottom: 20px;
}

