@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form {
    display: flex;
    place-self: center;
    padding: 80px;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #4f97cf 65%, #dfe0e3ed, #ffff00);
    flex-direction: column;
    align-items: center;
    color: white;
    width: 700px;
}

h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #e4efee;
    width: 270px;
    max-width: 300px;
    font-size: 13px;
}

.button-container {
    display: flex;
    gap: 14px;
    margin-top: 50px;
}

.fav-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fav-button:hover {
    background-color: #217fc7;
    color: #ffffff;
}

.fav-button::after{
    color: red;
}

.refresh-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.refresh-button:hover {
    background-color: #217fc7;
    color: #ffffff;
}



input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 70%;
    margin-bottom: 20px;
}

.Form .weather-card {
    padding: 40px;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.029); /* Semi-transparent background */
    backdrop-filter: blur(20px); /* Blurred background effect */
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Form .weather-card p {
    
    margin-right: 10px;
    margin-bottom: 15px;
}

.Form .weather-card h2 {
    margin-bottom: 30px;
    align-self: center;
    font-size: 35px;
}

.Form .weather-card h4 {

    font-size: 25px;
    margin-bottom: 20px;
}

.weather-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.weather-info {
    flex: 1;
}

.weather-icon {
    width: 150px;
    height: 150px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.fav-list-button {
    display: flex;
    place-self: flex-start;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px; 
    padding: 10px;
    cursor: pointer;
    position: relative;
    bottom: 50px;
    right: 50px;
}

.fav-list-button a{
    text-decoration: none;
    color: black;
    gap: 30px;
    font-size: 15px;

}


.fav-list-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

