body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
    background-color: #759abb;   
}

.app{
    text-align: center;
}

.Form form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ece760;
    width: 90%;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

h1 {
    margin-bottom: 20px;
    color: rgb(20, 19, 19);
}

.bottoni button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 50px;

}


a {
   color: rgb(0, 0, 0);
   text-decoration: none;
   position: absolute;
   top: 20px;
   right: 20px;
   font-size: large;

}

.weather-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 35px;
    max-width: 370px;
    margin-top: 20px;
    text-align: left;
    margin-top: 20px;
    width: 370px;
    
}


.weather-card .details {
    font-size: 0.9em;
    color: #999;
}

.fav-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #84837e;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.fav-button:hover {
    background-color: #09820b;
}

